@import "./color.scss";

.About{
    max-width: 100%;
    color: $main-color;
    margin-left: 300px;
    .cont{

        h2{
            margin-top: 60px;
            font-size: 40px;
            border-bottom: 1px solid;
        }
    .aboutp{
            font-size: 30px;
            text-align: left;
            margin-right: 30px;
        }
        article{
            display: flex;
        }
        .moji{
            margin-top: 30px;
            margin-bottom: 100px;
        }
    }
}