@import "./color.scss";

.Home{
    width: 100%;
    .AO {
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 30px;
    }
    .Init {
        background-color: rgb(255, 255, 255);
        max-width: 100%;
        height: 1100px;
        .Main-TKM {
            margin: 235px 0 0 200px;
        }
        .philo{
            margin: 300px 0 0 200px;
            margin:100px 0 0 200px;
            color:$main-color;
            h1{font-size: 40px;
            }
            p{
                font-size: 40px;
                margin:30px 0 0 0;
            }
            .contact{
                border: 1px solid $main-color;
            }
        }
        
        .button-style{
            margin: 30px 0 0 200px;
            
        }
        
        .ui.animated.button {
            text-align: center;
            color: aqua;
            background-color:  $main-color;
            font-size: 50px;
            width: 400px;
            height: auto;
            
        }
    }
    .Vision{
        // text-align: center;
        font-size: 30px;
        margin: 0 0 0 230px;
        padding-bottom:100px;
        .Water{
            display: flex;
        }
        .WATER-img{
            margin-left: 1100px;
        }
        h1{font-size: 50px;
            text-align: left;
            border-bottom: 1px solid;
        }
        h2{font-size: 50px;
        }
        p{
            // margin-right: 10px;
            margin-bottom: 10px;
        }
        // .TaKuMi{
        //     margin-top: 50px;
        //     text-align: right;
        // }
    }
    .PROFILE{
        // text-align: center;
        font-size: 30px;
        margin: 0 0 0 200px;
        // padding-bottom:100px;
        h1{font-size: 50px;
            text-align: left;
            border-bottom: 1px solid;
        }
        h2{font-size: 50px;
        }
        // .TaKuMi{
            //     margin-right: 900px;
            //     margin-bottom: 200px;
            // }
            .flex{
                margin: 30px 0 0 0;
                display: flex;
            }
            .PROFILE-TKM{
                border-radius: 50%;
                overflow: hidden;
                margin: 45px 115px 20px 40px;
            }
            .bun{
                margin: 70px 115px 20px 0px;
            }
            .namae {
                margin: 0px 115px 285px 140px;
                text-align: right;
        }
    }
    .WORKS{
        // text-align: center;
        font-size: 30px;
        margin: 0 0 0 200px;
        // padding-bottom:100px;
        h1{font-size: 50px;
            text-align: left;
            border-bottom: 1px solid;
        }
        h2{font-size: 15px;
            margin: 50px 0 0 0;
            text-align: center;
        }
        .article_all{
            margin-bottom: 1rem;
            display:flex;   
            .article_element {
                h3 {
                    margin-top: 1rem;      
                    margin-bottom: 1rem;      
                    font-size: 30px;
                }
                margin-bottom: 1rem;
                padding: 3.5rem;  
                width: calc(33.3333% - 1rem);
                text-align: center;
                background: #fff;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 4px;
                box-shadow: 2px 6px 5px rgb(255 255 255 / 40%);
                margin: 1.5rem 0.5rem;
                p{
                    font-size: 1.3rem;
                    text-align: left;
                    font-weight: 600;
                    margin-top: 2rem;
                    margin-bottom: 0.5rem;
                    text-transform: uppercase;
                }
                .HTMLCSSJS{
                    margin-top: 2rem;
                    width: 95%;
                }
                .PY{
                    margin-top: 1rem;
                    width: 60%;
                }
                .AiPsWr{
                    display: flex;
                    .AiPs {
                        // width: 100%;
                        margin-top: 3rem;
                        margin-bottom: 3rem;
                        // display: block
                        // position: absolute;
                        text-align: center;
                        width: 60%;
                }

                }
                .comingsoon {
                    margin-top: 2rem;
                    // margin-bottom: 3rem;
                    text-align: center;
                    font-size: large;
                    font-size: 30px;
                }
                .center-img{
                    text-align: center;
                    justify-content: center;
                    position: relative;
                }
                .cn{
                    text-align: center;
                    font-size: 30px;
                }
            }
            // margin: 0 0 100px 0;s
        }
    }
    color: $main-color;
}