.Home {
  width: 100%;
  color: #4d4d4d;
}
.Home .AO {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 30px;
}
.Home .Init {
  background-color: rgb(255, 255, 255);
  max-width: 100%;
  height: 1100px;
}
.Home .Init .Main-TKM {
  margin: 235px 0 0 200px;
}
.Home .Init .philo {
  margin: 300px 0 0 200px;
  margin: 100px 0 0 200px;
  color: #4d4d4d;
}
.Home .Init .philo h1 {
  font-size: 40px;
}
.Home .Init .philo p {
  font-size: 40px;
  margin: 30px 0 0 0;
}
.Home .Init .philo .contact {
  border: 1px solid #4d4d4d;
}
.Home .Init .button-style {
  margin: 30px 0 0 200px;
}
.Home .Init .ui.animated.button {
  text-align: center;
  color: aqua;
  background-color: #4d4d4d;
  font-size: 50px;
  width: 400px;
  height: auto;
}
.Home .Vision {
  font-size: 30px;
  margin: 0 0 0 230px;
  padding-bottom: 100px;
}
.Home .Vision .Water {
  display: flex;
}
.Home .Vision .WATER-img {
  margin-left: 1100px;
}
.Home .Vision h1 {
  font-size: 50px;
  text-align: left;
  border-bottom: 1px solid;
}
.Home .Vision h2 {
  font-size: 50px;
}
.Home .Vision p {
  margin-bottom: 10px;
}
.Home .PROFILE {
  font-size: 30px;
  margin: 0 0 0 200px;
}
.Home .PROFILE h1 {
  font-size: 50px;
  text-align: left;
  border-bottom: 1px solid;
}
.Home .PROFILE h2 {
  font-size: 50px;
}
.Home .PROFILE .flex {
  margin: 30px 0 0 0;
  display: flex;
}
.Home .PROFILE .PROFILE-TKM {
  border-radius: 50%;
  overflow: hidden;
  margin: 45px 115px 20px 40px;
}
.Home .PROFILE .bun {
  margin: 70px 115px 20px 0px;
}
.Home .PROFILE .namae {
  margin: 0px 115px 285px 140px;
  text-align: right;
}
.Home .WORKS {
  font-size: 30px;
  margin: 0 0 0 200px;
}
.Home .WORKS h1 {
  font-size: 50px;
  text-align: left;
  border-bottom: 1px solid;
}
.Home .WORKS h2 {
  font-size: 15px;
  margin: 50px 0 0 0;
  text-align: center;
}
.Home .WORKS .article_all {
  margin-bottom: 1rem;
  display: flex;
}
.Home .WORKS .article_all .article_element {
  margin-bottom: 1rem;
  padding: 3.5rem;
  width: calc(33.3333% - 1rem);
  text-align: center;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 2px 6px 5px rgba(255, 255, 255, 0.4);
  margin: 1.5rem 0.5rem;
}
.Home .WORKS .article_all .article_element h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 30px;
}
.Home .WORKS .article_all .article_element p {
  font-size: 1.3rem;
  text-align: left;
  font-weight: 60;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.Home .WORKS .article_all .article_element .HTMLCSSJS {
  margin-top: 2rem;
  width: 95%;
}
.Home .WORKS .article_all .article_element .PY {
  margin-top: 1rem;
  width: 60%;
}
.Home .WORKS .article_all .article_element .AiPsWr {
  display: flex;
}
.Home .WORKS .article_all .article_element .AiPsWr .AiPs {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  width: 60%;
}
.Home .WORKS .article_all .article_element .comingsoon {
  margin-top: 2rem;
  text-align: center;
  font-size: large;
  font-size: 30px;
}
.Home .WORKS .article_all .article_element .center-img {
  text-align: center;
  justify-content: center;
  position: relative;
}
.Home .WORKS .article_all .article_element .cn {
  text-align: center;
  font-size: 30px;
}
/*# sourceMappingURL=home.css.map */