@import "./color.scss";

.Topbar {
    width:100%;
    height: auto;
    position: relative;
    padding: 20px 0 0 20px;
    position: fixed;
    background-color:  rgb(255, 255, 255);
    border-bottom: 1px solid $main-color;
    z-index: 10;

    h1 {
        position: absolute;
        font-size: 22px;
        padding-left: 145px;
        bottom: 0;
        color: $main-color;
    }

    ul {
        position: absolute;
        left: 1000px;
        top: 25px;
        display: flex;
        list-style: none;

        li {
            font-size: 20px;
            font-weight: bold;
            padding: 0 30px;
            letter-spacing: 10px;

            &::before {
                position: absolute;
                content: '';
                top: 0.4em;
                left: 0.2em;
                height: 0;
                width: 0;
                // border-style: solid;
                border-width: 6px 0 6px 9px;
                border-color: transparent transparent transparent #333333;
            }

            a {
                color: $main-color;
                text-decoration: none;
                padding-top: 60px;
                position: relative;

                // &:hover::before {
                //     position: absolute;
                //     bottom: -8px;
                //     left: 0;
                //     content: "";
                //     max-width: 100%;
                //     height: 2px;
                //     background: $main-color;
                //     transform: scale(0, 1);
                //     transform-origin: center top;
                //     transition: transform 0.3s;
                // }
                // &:hover::after {
                //     transform: scale(1, 1);
                // }
            }
        }
        // .menu-li {
        //     font-size: 1.25em;
        //     font-weight: 800;
        //     line-height: 20px;
        //     text-align: center;
        //     list-style: none;
        //   }
            //   .menu-li a {
            //     text-decoration: none;
            //     color: $main-color;
            //     width: 100%;
            //     display: block;
            //     position: relative;
            //     max-width: 150px;
            //   }
          .menu-li a::after {
            position: absolute;
            bottom: -4px;
            left: 0;
            content: "";
            width: 100%;
            height: 2px;
            background: $main-color;
            transform: scale(0, 1);
            transform-origin: center top;
            transition: transform 0.3s;
          }
          .menu-li a:hover::after {
            transform: scale(1, 1);
          }
          .menu-li span {
            font-family: "Nunito", sans-serif;
            font-size: 0.75em;
            line-height: 1.33;
            font-weight: normal;
            display: block;
          }
    }


}